extends ../layout

block content
  h1= project.title

  form(method="POST")
    input(name="title" value=project.title placeholder="title of project")
    input(name="grade" value=project.grade type="number")
    input(name="class.title" value=project.class.title placeholder="Class Title")
    input(name="class.courseCode" value=project.class.courseCode placeholder="CourseCode")
    input(name="class.teacher" value=project.class.teacher placeholder="Teacher")

    button(type="submit") Save Project